.tripetto-collector-rating {
  @mixin stars($base, $selected) {
    color: $base;

    path {
      fill: $base;
    }

    &:hover,
    &.selected {
      color: $selected;

      path {
        fill: $selected;
      }
    }
  }

  > div {
    padding: 0px 0px 16px;
    white-space: nowrap;
    display: block !important;

    > button {
      display: inline-block;
      background-color: transparent;
      border: none;
      outline: none;
      text-align: center;
      width: 56px;
      padding: 10px 0 0 0;
      cursor: pointer;
      color: #6c757d;

      svg {
        width: 40px;
        height: 40px;

        path {
          fill: #6c757d;
        }
      }

      span {
        font-size: 16px;
        font-weight: bold;
        display: block;
      }

      &:hover {
        color: #343a40;

        path {
          fill: #343a40;
        }
      }

      &.selected {
        color: #ffc107;

        path {
          fill: #ffc107;
        }
      }

      &.rating-primary {
        @include stars(#007bff, #0069d9);
      }

      &.rating-secondary {
        @include stars(#6c757d, #5a6268);
      }

      &.rating-success {
        @include stars(#28a745, #1c7430);
      }

      &.rating-danger {
        @include stars(#dc3545, #bd2130);
      }

      &.rating-warning {
        @include stars(#ffc107, #d39e00);
      }

      &.rating-info {
        @include stars(#17a2b8, #117a8b);
      }

      &.rating-light {
        @include stars(#f8f9fa, #dae0e5);
      }

      &.rating-dark {
        @include stars(#343a40, #1d2124);
      }

      @media (min-width: 576px) {
        width: 48px;

        svg {
          width: 42px;
          height: 42px;
        }
      }
    }
  }
}
