.tripetto-collector-matrix {
  > div.matrix-table {
    table {
      color: inherit;

      td,
      th {
        padding: 0.3rem;
      }

      @media (min-width: 576px) {
        td,
        th {
          padding: 0.75rem;
        }
      }

      th {
        font-weight: normal;
      }

      thead {
        tr {
          color: #212529;

          &.table-default {
            color: inherit;
          }
        }

        th {
          text-align: center;
        }
      }

      tbody {
        td {
          text-align: center;
          vertical-align: middle;

          .custom-control-label {
            &:before,
            &:after {
              left: -1.2rem;
            }
          }
        }
      }
    }
  }

  > small {
    margin-top: 0 !important;
  }
}
