.tripetto-collector-file-upload {
  // Mixins
  @mixin upload($base) {
    svg {
      path {
        fill: $base;
      }
    }

    .file-upload-input {
      > label.file-dropping {
        border-color: $base;
      }
    }
  }

  > div.file-upload-area {
    height: 200px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    margin-top: 24px;

    @media (min-width: 576px) {
      height: 200px;
      padding: 20px;
    }

    small {
      display: block;
    }

    &.is-invalid {
      border: 3px solid #dc3545;
    }

    &.alert-primary {
      @include upload(#004085);
    }

    &.alert-secondary {
      @include upload(#383d41);
    }

    &.alert-success {
      @include upload(#155724);
    }

    &.alert-danger {
      @include upload(#721c24);
    }

    &.alert-warning {
      @include upload(#856404);
    }

    &.alert-info {
      @include upload(#0c5460);
    }

    &.alert-light {
      @include upload(#818182);
    }

    &.alert-dark {
      @include upload(#1b1e21);
    }

    > .file-upload-input {
      width: 100%;

      > svg {
        width: 100%;
        height: 60px;
        display: block;
        margin-bottom: 20px;

        @media (min-width: 576px) {
          height: 80px;
          margin-bottom: 40px;
        }
      }

      > input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }

      > label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        cursor: pointer;

        &.file-dragging {
          border-radius: 0.25rem;
          background-color: #fff;
          opacity: 0.5;
          border: 2px dashed;
        }
      }

      &:hover {
        > span {
          text-decoration: underline;
        }
      }
    }

    > .file-upload-error {
      > div {
        margin-bottom: 10px;
      }
    }

    > .file-upload-progress {
      width: 100%;

      .progress {
        height: 8px;
      }

      .progress-text {
        padding-top: 10px;
      }
    }

    > .file-upload-preview {
      width: 100%;

      .preview-image {
        margin-bottom: 10px;

        > img {
          width: auto;
          height: 100px;

          @media (min-width: 576px) {
            height: 80px;
          }
        }
      }

      .preview-file {
        height: 100px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width: 576px) {
          height: 80px;
        }

        svg {
          width: 60px;
          height: 60px;

          @media (min-width: 576px) {
            width: 80px;
            height: 80px;
          }
        }
      }

      .preview-name {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}
