.tripetto-collector-multiple-choice {
  > div {
    display: inline-block;
    max-width: 100%;

    button.choice {
      white-space: initial !important;

      span {
        display: table-cell;

        small {
          display: block;
          opacity: 0.8;
        }
      }

      span.icon {
        svg {
          opacity: 0.7;
        }
      }

      @media (min-width: 576px) {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.3rem;
      }
    }
  }
}
