.tripetto-collector-statement {
  padding-top: 32px;

  // Mixins
  @mixin path($base) {
    svg {
      path {
        fill: $base;
      }
    }
  }

  &.statement-primary {
    @include path(#004085);
  }

  &.statement-secondary {
    @include path(#383d41);
  }

  &.statement-success {
    @include path(#155724);
  }

  &.statement-danger {
    @include path(#721c24);
  }

  &.statement-warning {
    @include path(#856404);
  }

  &.statement-info {
    @include path(#0c5460);
  }

  &.statement-light {
    @include path(#818182);
  }

  &.statement-dark {
    @include path(#1b1e21);
  }

  > span {
    display: table-cell;

    > svg {
      width: 16px;
      height: 16px;
      position: relative;
      top: -16px;
      margin-right: 4px;

      @media (min-width: 576px) {
        width: 20px;
        height: 20px;
        top: -20px;
        margin-right: 8px;
      }
    }

    > h2 {
      margin: 0;
      font-weight: bold;
    }
  }
}
